export(
    load_common_data,
    subset_common_data,
    load_species_data,
    clear_common_data,
    clear_subset_data,
    clear_species_data,
    calculate_results,
    flatten_results,
    report_all,
    custom_report,
    set_options,
    overlay_polygon,
    get_all_id,
    get_all_species,
    get_id_locations,
    get_species_table,
    is_loaded,
    sector_plot)
S3method(sector_plot, c4iraw)
S3method(sector_plot, data.frame)

importFrom("intrval", "%)(%")
importFrom("Matrix", "colSums")
importFrom("sendmailR", "sendmail", "mime_part")
importFrom("stats", "quantile")
importFrom("utils", "flush.console")
importFrom("sp", "identicalCRS", "over", "spTransform", "coordinates",
    "proj4string")
importFrom("pbapply", "getTimeAsString")
importFrom("grDevices", "boxplot.stats")
importFrom("graphics", "abline", "axis", "barplot", "box", "hist",
    "lines", "mtext", "par", "plot", "points", "polygon",
    "rect", "rug", "segments", "text", "title")
importFrom("stats", "density")
importFrom("KernSmooth", "bkde")
#importFrom("rgdal", "readOGR")
